In [1]:
import pandas as pd
import time
from datetime import datetime

## General Informations

In [8]:
power = pd.read_csv("power.csv")
print(power.info())
print(power.tail(1))
power.head(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460 entries, 0 to 459
Data columns (total 6 columns):
Unnamed: 0     460 non-null int64
objectId       460 non-null object
time           460 non-null object
timestamp      460 non-null float64
eventName      460 non-null object
eventNumber    460 non-null int64
dtypes: float64(1), int64(2), object(3)
memory usage: 16.2+ KB
None
     Unnamed: 0             objectId                 time     timestamp  \
459         459  nespresso_jolmilano  2018-07-03 17:29:13  1.530632e+12

    eventName  eventNumber
459   standby          200

,Unnamed: 0,objectId,time,timestamp,eventName,eventNumber
0,0,nespresso_jolmilano,2018-06-27 17:38:48,1.530114e+12,heating,700

In [17]:
groundtruth = pd.read_csv("groudtruth.csv")
print(groundtruth.info())
print(groundtruth.tail(1))
groundtruth.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 6 columns):
Unnamed: 0     16 non-null int64
objectId       16 non-null object
time           16 non-null object
timestamp      16 non-null float64
eventName      16 non-null object
eventNumber    16 non-null int64
dtypes: float64(1), int64(2), object(3)
memory usage: 616.0+ bytes
None
    Unnamed: 0                         objectId                 time  \
15          15  nespresso_jolmilano_groundtruth  2018-07-03 16:56:27

       timestamp eventName  eventNumber
15  1.530630e+12    coffee         1500

,Unnamed: 0,objectId,time,timestamp,eventName,eventNumber
0,0,nespresso_jolmilano_groundtruth,2018-07-02 11:30:30,1.530524e+12,coffee,1500
1,1,nespresso_jolmilano_groundtruth,2018-07-02 11:30:38,1.530524e+12,on,500
2,2,nespresso_jolmilano_groundtruth,2018-07-02 15:03:40,1.530537e+12,on,500
3,3,nespresso_jolmilano_groundtruth,2018-07-02 15:04:21,1.530537e+12,coffee,1500
4,4,nespresso_jolmilano_groundtruth,2018-07-02 17:31:52,1.530546e+12,on,500

### How many coffee count?
Let see the differences between count coffee with power and with groundtruth

In [29]:
start = '2018-07-02 00:00:00'
end   = '2018-07-03 23:59:59'
print("coffe count see the power="+str(power[(power["eventName"]=="coffee") & \
                                             (power['time']>=start) & (power['time']<=end)].count()))
print("coffe count see the power="+str(groundtruth[(groundtruth["eventName"]=="coffee")\
                                    & (groundtruth["time"]>=start) & (groundtruth["time"]<=end)].count()))
power[(power["eventName"]=="coffee") &(power['time']>=start) & (power['time']<=end)]

coffe count see the power=Unnamed: 0     25
objectId       25
time           25
timestamp      25
eventName      25
eventNumber    25
dtype: int64
coffe count see the power=Unnamed: 0     9
objectId       9
time           9
timestamp      9
eventName      9
eventNumber    9
dtype: int64

,Unnamed: 0,objectId,time,timestamp,eventName,eventNumber
185,185,nespresso_jolmilano,2018-07-02 10:36:35,1.530521e+12,coffee,1500
188,188,nespresso_jolmilano,2018-07-02 10:36:56,1.530521e+12,coffee,1500
192,192,nespresso_jolmilano,2018-07-02 10:40:04,1.530521e+12,coffee,1500
248,248,nespresso_jolmilano,2018-07-02 12:19:33,1.530527e+12,coffee,1500
251,251,nespresso_jolmilano,2018-07-02 12:20:06,1.530527e+12,coffee,1500
253,253,nespresso_jolmilano,2018-07-02 12:20:21,1.530527e+12,coffee,1500
262,262,nespresso_jolmilano,2018-07-02 12:26:33,1.530527e+12,coffee,1500
265,265,nespresso_jolmilano,2018-07-02 12:27:19,1.530527e+12,coffee,1500
295,295,nespresso_jolmilano,2018-07-02 15:03:47,1.530537e+12,coffee,1500
297,297,nespresso_jolmilano,2018-07-02 15:04:11,1.530537e+12,coffee,1500
299,299,nespresso_jolmilano,2018-07-02 15:04:23,1.530537e+12,coffee,1500
300,300,nespresso_jolmilano,2018-07-02 15:04:23,1.530537e+12,coffee,1500
302,302,nespresso_jolmilano,2018-07-02 15:04:36,1.530537e+12,coffee,1500
308,308,nespresso_jolmilano,2018-07-02 17:31:55,1.530546e+12,coffee,1500
311,311,nespresso_jolmilano,2018-07-02 17:32:17,1.530546e+12,coffee,1500
317,317,nespresso_jolmilano,2018-07-03 09:13:21,1.530602e+12,coffee,1500
320,320,nespresso_jolmilano,2018-07-03 09:14:56,1.530602e+12,coffee,1500
327,327,nespresso_jolmilano,2018-07-03 09:18:07,1.530602e+12,coffee,1500
330,330,nespresso_jolmilano,2018-07-03 09:19:36,1.530602e+12,coffee,1500
333,333,nespresso_jolmilano,2018-07-03 09:20:47,1.530602e+12,coffee,1500
379,379,nespresso_jolmilano,2018-07-03 11:04:12,1.530609e+12,coffee,1500
387,387,nespresso_jolmilano,2018-07-03 15:46:43,1.530626e+12,coffee,1500
390,390,nespresso_jolmilano,2018-07-03 15:47:20,1.530626e+12,coffee,1500
417,417,nespresso_jolmilano,2018-07-03 16:55:57,1.530630e+12,coffee,1500
420,420,nespresso_jolmilano,2018-07-03 16:56:31,1.530630e+12,coffee,1500

In [30]:
groundtruth[(groundtruth["eventName"]=="coffee")& (groundtruth["time"]>=start) & (groundtruth["time"]<=end)]

,Unnamed: 0,objectId,time,timestamp,eventName,eventNumber
0,0,nespresso_jolmilano_groundtruth,2018-07-02 11:30:30,1.530524e+12,coffee,1500
3,3,nespresso_jolmilano_groundtruth,2018-07-02 15:04:21,1.530537e+12,coffee,1500
5,5,nespresso_jolmilano_groundtruth,2018-07-02 17:32:12,1.530546e+12,coffee,1500
7,7,nespresso_jolmilano_groundtruth,2018-07-03 09:14:53,1.530602e+12,coffee,1500
8,8,nespresso_jolmilano_groundtruth,2018-07-03 09:18:04,1.530602e+12,coffee,1500
9,9,nespresso_jolmilano_groundtruth,2018-07-03 09:20:42,1.530602e+12,coffee,1500
11,11,nespresso_jolmilano_groundtruth,2018-07-03 11:04:06,1.530609e+12,coffee,1500
13,13,nespresso_jolmilano_groundtruth,2018-07-03 15:47:17,1.530626e+12,coffee,1500
15,15,nespresso_jolmilano_groundtruth,2018-07-03 16:56:27,1.530630e+12,coffee,1500